.gallery{
    padding: 5rem;
    min-height: 100vh;
    background: $background-color;
    color: white;
}
.images{
    @include flex(center, center, row);
}
.gallery .content{
    text-align: center;
    margin: 3rem 0rem;
}
.gallery h4{
    margin: 2rem;
    text-align: center;
}
.gallery img{
    border: 1px solid white;
    border-radius: 360px;
    margin: 5rem;
    width: 25rem;
    height: 25rem;
}