.main-head {
  margin: 0 0 0 auto;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

/*
nav{
    @include flex(space-between, center, row);
}
*/
nav {
  width: 95%;
  margin: auto;
  padding: 2rem 0rem;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 10rem;
          flex: 2 1 10rem;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

li a {
  text-decoration: none;
}

li a:hover {
  color: #5381d6;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.hero {
  padding: 2rem 0rem;
  min-height: 90vh;
  background: url("../imgs/sky.jpg") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero h2,
p {
  color: white;
  text-align: center;
}

.hero img {
  height: 30rem;
  animation: hands 2s alternate-reverse infinite;
}

@-webkit-keyframes hands {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
}

@keyframes hands {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
}

.about {
  padding: 2rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#count {
  border-radius: 20px;
}

.about-two {
  padding: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.about h2 {
  text-align: right;
}

.about p {
  color: black;
  text-align: right;
}

.about-two span {
  font-size: 75%;
  opacity: 0.75;
}

.gallery {
  padding: 5rem;
  min-height: 100vh;
  background: #171717;
  color: white;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gallery .content {
  text-align: center;
  margin: 3rem 0rem;
}

.gallery h4 {
  margin: 2rem;
  text-align: center;
}

.gallery img {
  border: 1px solid white;
  border-radius: 360px;
  margin: 5rem;
  width: 25rem;
  height: 25rem;
}

.gallery .karni img{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,102,102,1) 35%, rgba(255,255,255,1) 100%);
}


.contact {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact form {
  background: #171717;
  color: white;
  margin: auto;
  padding: 10rem;
  border-radius: 10rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input,
textarea {
  padding: 0.5rem;
  margin: 1rem;
  width: 90%;
  text-align: right;
}

button {
  margin: 1rem;
  width: 90%;
  border: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  background: #171717;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-animation: opening 1s ease;
          animation: opening 1s ease;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
textarea,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4,
h5 {
  font-size: 3.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 50%;
  }
  .main-head {
    display: none;
  }
  .hero {
    min-height: 100vh;
  }
  .hero img{
    height: 20rem;
  }
  .about-one {
    display: none;
  }
  .about-two {
    text-align: center;
    font-size: 50%;
  }
  /* Gallery */
  .images {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* Contact Section */
  .contact {
    background: #171717;
  }
  .contact form {
    overflow: hidden;
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */